In [1]:
import pandas as pd
import numpy as np

In [2]:
#imports the data
roughDat= pd.read_csv("../data/raw/Emergent_NAACL2016/emergent/url-versions-2015-06-14-clean.csv")
roughDat[0:3]

,Unnamed: 0,claimHeadline,articleHeadline,articleHeadlineStance,articleId,claimId
0,0,Apple will sell 19 million Apple Watches in 2015,"BMO forecasts 19M Apple Watch sales in 2015, w...",observing,116a3920-c41c-11e4-883c-a7fa7a3c5066,8faeb4b0-c41b-11e4-88c9-eb158a06b9a5
1,1,Two Australian men kept a McDonald's Quarter P...,World's oldest burger,for,8bb10fd0-b6aa-11e4-8507-b58af63d1078,d54aaf40-b6a8-11e4-8507-b58af63d1078
2,2,Two Australian men kept a McDonald's Quarter P...,Two blokes dared to eat 20-year-old burger for...,for,00b6b660-b6a9-11e4-8507-b58af63d1078,d54aaf40-b6a8-11e4-8507-b58af63d1078

In [3]:
#removes unnecessary columns.
roughDat = roughDat.drop(columns=['Unnamed: 0', 'claimHeadline',
       'claimId', 'articleHeadlineStance'])
roughDat.drop_duplicates()

,articleHeadline,articleId
0,"BMO forecasts 19M Apple Watch sales in 2015, w...",116a3920-c41c-11e4-883c-a7fa7a3c5066
1,World's oldest burger,8bb10fd0-b6aa-11e4-8507-b58af63d1078
2,Two blokes dared to eat 20-year-old burger for...,00b6b660-b6a9-11e4-8507-b58af63d1078
3,Would you take a bite out of the world's oldes...,fc92d640-b6a8-11e4-8507-b58af63d1078
4,20 year old burger? McDonald's burger purchase...,08c84b70-b6a9-11e4-8507-b58af63d1078
...,...,...
2590,How's it going?: Teen wakes up during brain su...,881df9e0-93bf-11e4-b6bf-fdc8b7e3bcff
2591,"Teen Iga Jasica wakes up during brain surgery,...",1b1dd170-9424-11e4-b6bf-fdc8b7e3bcff
2592,"Surgery Patient Wakes Up, Asks Doc How's It Go...",d4ddfc10-93bc-11e4-b6bf-fdc8b7e3bcff
2593,"Polish Teenager Wakes Up During Brain Surgery,...",c3905bb0-93bc-11e4-b6bf-fdc8b7e3bcff
2594,Brain op shock as teen wakes up mid-surgery,5cd224f0-93bf-11e4-b6bf-fdc8b7e3bcff

In [4]:
#checks in the data if there is a question mark in the string.
import re
regexp = re.compile(r"\?")
QFeature=[]
for s in roughDat['articleHeadline']:
    if re.search(regexp, s):
        QFeature.append(1)
    else:
        QFeature.append(0)

In [5]:
#appends the QFeature to the claimHeadline dataframe.
roughDat["Qmark"]= QFeature

In [6]:
#first feature has been extracted.
roughDat

,articleHeadline,articleId,Qmark
0,"BMO forecasts 19M Apple Watch sales in 2015, w...",116a3920-c41c-11e4-883c-a7fa7a3c5066,0
1,World's oldest burger,8bb10fd0-b6aa-11e4-8507-b58af63d1078,0
2,Two blokes dared to eat 20-year-old burger for...,00b6b660-b6a9-11e4-8507-b58af63d1078,0
3,Would you take a bite out of the world's oldes...,fc92d640-b6a8-11e4-8507-b58af63d1078,1
4,20 year old burger? McDonald's burger purchase...,08c84b70-b6a9-11e4-8507-b58af63d1078,1
...,...,...,...
2590,How's it going?: Teen wakes up during brain su...,881df9e0-93bf-11e4-b6bf-fdc8b7e3bcff,1
2591,"Teen Iga Jasica wakes up during brain surgery,...",1b1dd170-9424-11e4-b6bf-fdc8b7e3bcff,0
2592,"Surgery Patient Wakes Up, Asks Doc How's It Go...",d4ddfc10-93bc-11e4-b6bf-fdc8b7e3bcff,1
2593,"Polish Teenager Wakes Up During Brain Surgery,...",c3905bb0-93bc-11e4-b6bf-fdc8b7e3bcff,0
2594,Brain op shock as teen wakes up mid-surgery,5cd224f0-93bf-11e4-b6bf-fdc8b7e3bcff,0

In [7]:
roughDat[["articleId", "Qmark"]].to_csv(r"../data/processed/features/headline_Qmark.csv",index=False)

Insights into bag of words
The BOW model only considers if a known word occurs in a document or not. It does not care about meaning, context, and order in which they appear.
This gives the insight that similar documents will have word counts similar to each other. In other words, the more similar the words in two documents, the more similar the documents can be.
Limitations of BOW
Semantic meaning: the basic BOW approach does not consider the meaning of the word in the document. It completely ignores the context in which itâ€™s used. The same word can be used in multiple places based on the context or nearby words.
Vector size: For a large document, the vector size can be huge resulting in a lot of computation and time. You may need to ignore words based on relevance to your use case.